* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 50%;
    margin: 5rem auto;
    /* background-color: grey; */
}

.container {
    background-color: grey;
    padding: 0.5rem 2rem;
    height: 100vh;
}

h1 {
    text-align: center;
    border: 1px solid transparent;
    background-color: rgb(228, 222, 222);
    border-radius: 0.85rem;
    width: 70%;
    margin: 1rem auto;
    font-size: 23px;
}