* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 50%;
    margin: 5rem auto;
    /* background-color: grey; */
}

.container {
    background-color: grey;
    padding: 0.5rem 2rem;
    height: 100vh;
}

.sticky_note {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
}

h1 {
    text-align: center;
    border: 1px solid transparent;
    background-color: rgb(228, 222, 222);
    border-radius: 0.85rem;
    width: 70%;
    margin: 1rem auto 2rem;
    font-size: 23px;
}

.perpetual {
    width: 8rem;
    height: 8rem;
    background-color: aqua;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: center;
}

.perpetual h3 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.perpetual p {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 3px;
}

.tobi {
    width: 8rem;
    height: 8rem;
    background-color: red;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: center;
}

.tobi h3{
    font-size: 1rem;
    padding-bottom: 0.5rem;
    color: white;
}

.tobi p {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 3px;
    color: black;
}

.fejiro {
    background-color: purple;
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 2px;
    border-style: groove;
}

.Fejiro h3 {
    font-size: larger;
    font-style: normal;
}

.funmi_e {
    width: 8rem;
    border: 1px solid rgb(24, 22, 23) ;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: center; 
    color:rgb(222, 236, 22);
    background-color: rgb(201, 21, 156);
    height: 8rem;
}

.funmi_e h3{
    font-size: 16px;
    font-style: oblique;
    padding-bottom: 5px;
    font-weight: 900;
}

.funmi_e p{
    font-style: italic;
    font-size: 12px;
    padding-bottom: 3px;
}